@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  background: #31393C
}

.App {
  margin: 20px 150px 0;
  display: flex;
}

.Menu {
  width: 40%;
  min-width: 300px;
  height: 100%;
  margin-right: 25px;
  padding: 15px;
  background: #96E6B3;
  border-radius: 25px;
}

.Menu header {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #31393C;
  text-align: center;
}

.Menu_buttons {
  display: flex;
  justify-content: center; 
}

.Left_buttons {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  padding: 5px;
}

.Right_buttons {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  padding: 5px;
}

.Left_buttons p {
  width: 80%;
  min-width: 120px;
  max-width: 300px;
  height: 100px;
  margin: 10px;
  background: #2176FF;
  border-radius: 18px;
  align-content: center;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}

.Right_buttons p {
  width: 80%;
  min-width: 120px;
  max-width: 300px;
  height: 100px;
  margin: 10px;
  background: #2176FF;
  border-radius: 18px;
  align-content: center;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}

.Result_area {
  width: 60%;
  height: 100%;
  margin-left: 25px;
}

.Monitor {
  background: #171717;
  padding: 10px;
  min-width: 300px;
  height: 40%;
  min-height: 300px;
  color: #F2E94E;
  border: 3px solid #616161;
  border-radius: 25px;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-size: 20px;
}

.Forms {
  height: 25%;
  min-height: 250px;
  margin: 20px 0;
}

.Keypad {
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.Keypad div {
  width: 30%;
  margin: 20px;
  text-align: center;
}

.Keypad .Clean_but {
  background: #DA3E52;
}

.Keypad .Calc_but {
  background: #2176FF;
}

.Keypad p {
  background: #4F5B60;
  align-content: center;
  height: 40px;
  min-width: 80px;
  border-radius: 17px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  padding: 5px;
}