@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  background: #31393C
}

.App {
  margin: 20px;
  display: flex;
}

.Menu {
  width: 50%;
  height: 100%;
  left: 20px;
  top: 24px;
  padding: 15px;
  background: #96E6B3;
  border-radius: 25px;
}

.Menu header {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #31393C;
  text-align: center;
}

.Menu_buttons {
  display: flex;
  justify-content: center; 
}

.Left_buttons {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  padding: 5px;
}

.Right_buttons {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  padding: 5px;
}

.Left_buttons p {
  width: 80%;
  height: 100px;
  margin: 10px;
  background: #2176FF;
  border-radius: 18px;
  align-content: center;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}

.Right_buttons p {
  width: 80%;
  height: 100px;
  margin: 10px;
  background: #2176FF;
  border-radius: 18px;
  align-content: center;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}

.App-link {
  color: #61dafb;
}

